.our-section { 
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;       
        }

        a {
            color:hsl(0, 0%, 100%);
            text-decoration: none;
            background: black;
            padding: .6rem 2.5rem;
            letter-spacing: 4px;
        }

    .creations {
        display: flex;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px;
        margin: 4rem auto;

       .img {
        position: relative;
        width: calc(25% - 10px);

            &:after {
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            z-index: 999;
            background: rgb(2,0,36);
        }
            img {
                height: 100%;
                max-width: 100%;
            }

            p    {
            position: absolute;
            bottom: 20px;
            left: 20px;
            color: #fff;
            font-size: 200%;
            font-weight: 300;
            font-family:'Josefin Sans', sans-serif;       
            }
       }
    }
    
}


.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #333;
    }
  
    &:focus {
      outline: none;
    }
  }