.VR {
    position: relative;
    padding: 6rem; 
    .content {
            padding: 4rem;
            position: absolute;
            background:hsl(0, 0%, 100%) ;
            width: 480px;
            right:100px;
            bottom:0px;
        p {
            font-weight:600;
            line-height: 1.6;
            color: hsla(0, 0%, 55%, 0.808);
    
            }
        }
    }

