@import url('https://fonts.googleapis.com/css2?family=Alata:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700&display=swap');

// font-family: 'Josefin Sans', sans-serif;
// font-family: 'Alata', sans-serif;

body {
    font-family: 'Alata', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.container {
    padding: 4rem 10rem;
}

.title {
    font-family:'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    font-weight:300;
    letter-spacing: 1.8px;
    color: rgb(0, 0, 0);
}

header {
    background:linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.424),
        rgba(0, 0, 0, 0.424)
      ), url('./images/desktop/image-hero.jpg') center center/cover ;
    height: 75vh;

    nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            li {
                margin-left: 2rem;
                list-style: none;
                a{
                    text-decoration: none;
                    color:hsla(0, 0%, 100%, 0.808);
                }
                a:hover {
                    padding-bottom:.4rem ;
                    border-bottom:solid 3px hsla(0, 0%, 100%, 0.808);
                    transition: .2s ease-out;
                }

            }
        }
    }
    h1 {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 5rem;
        text-transform: uppercase;
        font-weight: 300;
        width: 620px;
        color: hsla(0, 0%, 100%, 0.918);
        border:solid 2.5px;
        padding: 2rem;

    }
}

.VR {
position: relative;  
height: 600px;  
.content {
        padding: 4rem;
        position: relative;
        background:hsl(0, 0%, 100%) ;
        width: 480px;
        left: 572px;
        bottom: 268px;
    p {
        font-weight:600;
        line-height: 1.6;
        color: hsla(0, 0%, 55%, 0.808);

        }
    }
    img {
        // width: 600px;
    }
}

.our-section {

    
    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        }

        a {
            color:hsl(0, 0%, 100%);
            background: black;
            padding: 0rem 1rem;

        }
    .creations {
        // display: grid;
        // grid-gap: 10px;
        // grid-auto-flow: column;
        // // grid-template-columns: 186px 186px 186px 186px;
    }
    
}

footer {
    display: flex;
    background: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    justify-content: space-between;
    .social-links {
        display: flex;
        list-style: none;
        li {
            margin-right:1rem ;
            a {
                color:hsl(0, 0%, 100%);
                text-decoration: none;
            }
        }
    }
    
}